
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
    position: fixed;
    top: 8px;
    left: 0;
    width: 100%;
    margin-top: 0;
    margin: 0;
    letter-spacing: 1px;
    border-radius: 8px;
    padding: 15px;
    background-color: black;
    color: white;
    z-index: 1000;
}


body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    background: #fff5e6;

}

.container-produtos {
    margin-top: 100px;
}


.produtos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.produto {
    position: relative;
    background-size: #ffffff;
    border: 5px solid #ccc;
    padding: 15px;
    width: 200px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s;
    overflow: hidden;
}

.produto:hover {
    transform: translateY(-15px);
}

.produto button:hover {
    background-color: #133b1c;
}

.produto img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}


.produtos button {
    border: none;
    background: rgb(29, 114, 17);
    transition: 0.3s;
}

button {
    padding: 8px;
    cursor: pointer;
    background: #08681d;
    color: white;
    border-radius: 10px;
}

li {
    margin: 5px 0;
}

li button {
    margin-left: 10px;
    padding: 4px 8px;
    font-size: 12px;
    background: red;
}

.icone-carrinho {
    position: fixed;
    top: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    color: white;
    padding: 5px 10px;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bold;
    z-index: 1101;
}

#contador {
    background: rgb(255, 255, 255);
    color: #000000;
    font-weight: bold;
    border-radius: 50%;
    padding: 3px 8px;
    font-size: 15px;
    margin-left: 5px;
    transition: transform 0.2s ease;
}

.animar {
    transform: scale(1.3);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.719);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 1000;
}

#overlay.ativo {
    opacity: 1;
    visibility: visible;
}

#painel-carrinho {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -400px;
    width: 350px;
    height: 100vh;
    background: #f5f5f5;
    box-shadow: -5px 0 15px rgba(8, 8, 8, 0.623);
    transition: right 0.4s ease;
    z-index: 1001;
    padding: 20px;
    overflow-y: auto;
}

.painel h2 {
    color: white;
    background-color: black;
    top: 0;
    padding-bottom: 1px;
}

.area-itens {
    flex: 1;
    overflow-y: auto;
}

.area-finalizar {
    padding: 4px;
    padding-bottom: 1px;
    background: white;
    border-top: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 50px;
}

#painel-carrinho button {
    margin-top: 10px;
    padding: 8px;
    cursor: pointer;
}

#painel-carrinho.ativo {
    right: 0;
}


.painel {
    position: fixed;
    right: -350px;
    top: 0;
    width: 300px;
    height: 100%;
    background: white;
    box-shadow: -3px 0 50px rgba(0,0,0,.2);
    padding: 10px;
    transition: 0.3s;
    overflow-y: auto;
}

.painel.ativo {
    right: 0;
}

li {
    margin: 10px 0;
}

li button {
    margin-left: 10px;
    padding: 4px 8px;
    font-size: 12px;
    background: rgb(219, 5, 5);
}

.pizza-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: #fff;
    width: 100px;
    text-align: center;
}

.pizza-img {
    width: 200%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.pizza-card h3 {
    font-size: 1.1rem;
    margin: 10px 0;
}

.container-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

@media (max-width: 768px) {

    #painel-carrinho {
        width: 100%;
    }

    .container-produtos {
        grid-template-columns: 1fr;
    }

    .produto {
        width: 100%;
    }

}

.preco {
    margin: 10px 0;
}

.preco-antigo {
    text-decoration: line-through;
    color: #e63946;
    font-size: 13px;
    margin-right: 8px;
}

.preco-atual {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
}

.promo-tag {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #2a9d8f;
    color: white;
    padding: 4px 8px;
    font-size: 10px;
    border-radius: 20px;
}

.item-carrinho {
    display: flex;
    align-items: center;
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    gap: 10px;
}

.img-carrinho {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 8px;
}

.info-item {
    flex: 1;
}

.nome-item {
    font-size: 14px;
    font-weight: bold;
    font-weight: 600;
    margin: 0;
}

#item-carrinho Quantidade {
    font-size: 10px;
    color: #666;
}

.preco-item {
    font-size: 14px;
    font-weight: bold;
    color: #1a9e3f;
}

.acoes button {
    width: 40px;
    height: 25px;
    border: none;
    border-radius: 8px;
    background: #1a9e3f;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.acoes button:hover {
    background-color: #063a11;
    transition: 0.4s;
}


.topo-carrinho {
    display: flex;
    position: sticky;
    top: 0;
    right: 20px;
    background: #111;
    color: white;
    padding: 18px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    z-index: 10;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.area-itens {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.area-finalizar {
    background: white;
    padding: 15px;
    border-top: 1px solid #ddd;
}

.topo-painel h2 {
    margin: 0;
    letter-spacing: 1px;
    border-radius: 8px;
}

.area-finalizar button {
    width: 100%;
    padding: 12px;
    background: #25D366;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.area-finalizar button:hover {
    background-color: #062b0e;
    transition: 0.4s;
}

#carrinho {
    list-style: none;
    padding: 0;
    margin: 0;
}

